* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
}

.logo {
  width: 45px;
  height: 45px;
}

.flex-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
a {
  text-decoration: none;
  color: black;
}

.linea {
  border-top: 1px solid #cbc6c6;
}
